<%= form_for(@politician_request) do |f| %>
  <% if @politician_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@politician_request.errors.count, "error") %> prohibited this politician_request from being saved:</h2>

      <ul>
      <% @politician_request.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :request %><br />
    <%= f.text_area :request %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <%# fields_for(@users) do |user_stuff|  %>
    <div class="field">
      <%#= user_stuff.label "Users"%><br />
      <%# = collection_select( :users, :id, User.all, :id, :name, {}, {:multiple => true})%> 
      <%= select_tag 'user', options_from_collection_for_select(User.where(:is_politician => true), :id, :name), multiple: false, size: '10%' %>
    </div>
  <%# end %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
