<div id="users">
<p id="notice"><%= notice %></p>
<ul>
<li><%= link_to 'Edit', edit_user_path(@user), :class => "button" %></li> 
<li><%= link_to 'Back', users_path, :class => "button" %></li>
</ul>
<p>
  <b>Name:</b>
  <%= @user.name %>
</p>

<p>
  <b>City:</b>
  <%= @user.city %>
</p>

<p>
  
	<p>
	<b>Bio:</b>
  <%= @user.bio %>
	</p>
	</div>
</p>
</div>



