<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @text_message.content %>
</p>

<p>
  <strong>Receiver:</strong>
  <%= @text_message.receiver %>
</p>

<!-- 
<%= link_to 'Edit', edit_text_message_path(@text_message) %> |
<%= link_to 'strongack', text_messages_path %> -->
