<h1>Listing politicians</h1>

<table>
  <tr>
    <th>Name</th>
    <th>State</th>
    <th>City</th>
    <th>District</th>
    <th>Office</th>
    <th>Phone number</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @politicians.each do |politician| %>
  <tr>
    <td><%= politician.name %></td>
    <td><%= politician.state %></td>
    <td><%= politician.city %></td>
    <td><%= politician.district %></td>
    <td><%= politician.office %></td>
    <td><%= politician.phone_number %></td>
    <td><%= link_to 'Show', politician %></td>
    <td><%= link_to 'Edit', edit_politician_path(politician) %></td>
    <td><%= link_to 'Destroy', politician, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Politician', new_politician_path %>
