<!DOCTYPE html>
<html>
<head>
  <title>Govstream</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- google fonts API -->
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,400italic' rel='stylesheet' type='text/css'>
</head>
<body>
<div class="wrapper">
<!-- 
  <div class="navbar navbar-inverse navbar-fixed-top" id="bootstrap-header">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= link_to "GovStream", root_url, :class => "brand" %>
        <div class="nav-collapse collapse">
          <ul class="nav">
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#about">About</a></li>
            <li><a href="#contact">Contact</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> 
-->
<div id="body_fade">
  <div class="wrapper">
    <ul class="navy">
      <li><%= link_to image_tag("/assets/home.png", :border=>0), :controller => 'home'%></li>
      <!-- <li><%= link_to image_tag("/assets/dash.png", :border=>0), :controller => 'users'%></li> -->
    </ul>
  </div>

  <%= yield %>

  <div class="wrapper">
    <footer>
      <p>
        Govstream 2013
        Washington D.C.
      </p>
    </footer>
  </div>
</div>
</div>
</body>
</html>
